* {
    background-size: contain;
    text-align: center;
    font-size: 20px;
    
}

body {
    border-style: solid;
    border-color: coral;
}

.content {
    display: inline-flex;
    flex: 30%;
    margin-top: 50px;
    width: auto;
}

p {
    border-color: coral;
    border-style: solid;
    height: 50px;
    text-align: center;
    margin: 10px;
}

.box1, .box2, .box3 {
    display: inline;
    margin: 100px;
}

button {
    display: inline-block;
    width: 75px;
    background-color: transparent;
    border-color: coral;
}

#hide1, #hide2, #hide3 {
    width: 300px;
    background-color: blue;
    border-radius: 0px;
    color: white;
    border-color: transparent;
    margin-bottom: 50px;

}